trunk/RoboTraderSuite/App.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="configSections">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="section">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="type" type="xs:string" use="required" />
                  <xs:attribute name="requirePermission" type="xs:boolean" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="connectionStrings">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="add">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="connectionString" type="xs:string" use="required" />
                  <xs:attribute name="providerName" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="entityFramework">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="defaultConnectionFactory">
                <xs:complexType>
                  <xs:attribute name="type" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="providers">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="provider">
                      <xs:complexType>
                        <xs:attribute name="invariantName" type="xs:string" use="required" />
                        <xs:attribute name="type" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="log4net">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="root">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="level">
                      <xs:complexType>
                        <xs:attribute name="value" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="appender-ref">
                      <xs:complexType>
                        <xs:attribute name="ref" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="logger">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="level">
                      <xs:complexType>
                        <xs:attribute name="value" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="appender">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element maxOccurs="unbounded" name="param">
                        <xs:complexType>
                          <xs:attribute name="name" type="xs:string" use="required" />
                          <xs:attribute name="value" type="xs:string" use="required" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="file">
                        <xs:complexType>
                          <xs:attribute name="type" type="xs:string" use="required" />
                          <xs:attribute name="value" type="xs:string" use="required" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="appendToFile">
                        <xs:complexType>
                          <xs:attribute name="value" type="xs:boolean" use="required" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="datePattern">
                        <xs:complexType>
                          <xs:attribute name="value" type="xs:string" use="required" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="maximumFileSize">
                        <xs:complexType>
                          <xs:attribute name="value" type="xs:string" use="required" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="rollingStyle">
                        <xs:complexType>
                          <xs:attribute name="value" type="xs:string" use="required" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="maxSizeRollBackups">
                        <xs:complexType>
                          <xs:attribute name="value" type="xs:unsignedByte" use="required" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="layout">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element minOccurs="0" name="conversionPattern">
                              <xs:complexType>
                                <xs:attribute name="value" type="xs:string" use="required" />
                              </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="locationInfo">
                              <xs:complexType>
                                <xs:attribute name="value" type="xs:boolean" use="required" />
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:attribute name="type" type="xs:string" use="required" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="staticLogFileName">
                        <xs:complexType>
                          <xs:attribute name="value" type="xs:boolean" use="required" />
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="type" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="startup">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="supportedRuntime">
                <xs:complexType>
                  <xs:attribute name="version" type="xs:string" use="required" />
                  <xs:attribute name="sku" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="system.data" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>